@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

:root{
    --color: red;
    --animacion: all 0.3s ease;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #333;
}

/* NAVBAR */
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: "Ubuntu",sans-serif;
    transition: var(--animacion) ;
    z-index: 2;
}

.navbar.sticky{
    padding: 15px 0;
    background-color: var(--color);
}

.navbar.sticky .logo a span{
    color: #fff ;
    transition:var(--animacion) ;
}

.navbar.sticky .menu li a:hover{
    color: #fff;
    transition: var(--animacion);
    transform: scale(1.05);
}

.max-width{
    max-width: 1500px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    font-family: 'Black Ops One', cursive;
}

.navbar .logo a span{
    color: var(--color);
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: var(--color);
    font-size: 18px;
    font-weight: 900;
    margin-left: 34px;
    transition: color 0.5s ease;
    background-color: rgba(255, 255, 255, 0.473);
    box-shadow: 2px 2px black;
    border-radius: 10px;
    padding: 6px;
}

.navbar.sticky .menu li a{
    color: #fff;
    background-color: initial;
    box-shadow: none;
}

.navbar .menu li a:hover{
    color: var(--color);
    transform: scale(1.15);
    transition: all .5s ease;
}

/* MENU BOTON */

.menu-btn{
    color: var(--color);
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.navbar.sticky .menu-btn{
    color: #fff;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 45px;
    background-color: var(--color);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 2;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: var(--animacion);
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* HOME */
.home{
    display: flex;
    background: url("./photo1.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: "Ubuntu",sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px; 
    font-family: 'Black Ops One', cursive;
    letter-spacing: 5px;
    text-shadow: 3px 3px var(--color);
}

.home .home-content .text-2{
    font-size: 80px;
    font-weight: 600;
    margin-left: -3px; 
    font-family: 'Black Ops One', cursive;
    text-shadow: 7px 7px var(--color);
}

.home .home-content .text-3{
    font-size: 40px; 
    margin: 5px 0;
    font-family: 'Bangers', cursive;
    text-shadow: 3px 3px var(--color);
}

.home .home-content .text-3 span{
    color: var(--color);
    font-weight: 500;
    text-shadow: none;
}

.home .home-content a{
    display: inline-block;
    background-color: var(--color);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border: 2px solid var(--color);
    border-radius: 6px;
    transition: var(--animacion);
    font-family: 'Titan One', cursive;
}

.home .home-content a:hover{
    color: var(--color);
    background: none;
}

/* ALL SIMILAR STYLING CODE */************************************
section{
    padding: 100px 0;
}

.about,.services,.skills,.contact,.certificates,footer{
    font-family: "Poppins",sans-serif;
}

.about,
.services,
.skills,
.certificates,
.contact{
    padding: 60px 0 60px 0;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}


section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 25px;
    font-family: "Ubuntu",sans-serif;
}

section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background-color: #fff;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 20px;
    color: var(--color);
    padding: 5px;
    background-color: #222;
    transform: translateX(-50%);
}


/* ABOUT ME SECCION */
.about,
.services,
.skills,
.certificates,
.contact{
    margin-top: 100px;
}

.about{
    background-color: #111;
    color: #fff;
}

.about .title::after{
    content: "Who I am";

}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color: var(--color);
}

.about .about-content .right p{
    text-align: justify;
    font-size: 20px;
    font-family: 'Georgia';
    font-weight: 400;
    line-height: 40px;
}

.about .about-content .right a{
    display: inline-block;
    background-color: var(--color);
    color: #fff;
    font-size: 20px;
    font-weight:500 ;
    padding: 10px 30px;
    margin-top: 20px;
    border: 2px solid var(--color);
    border-radius: 6px;
    transition: var(--animacion);
}

.about .about-content .right a:hover{
    transform: scale(1.05);
    color: var(--color);
    background-color: #fff  ;
}

/* SERVICES SECCION */
.services{
    padding-top: 80px;
    color: #fff;
    background-color: #111;
}

.services .title::before{
    background-color: #fff;
}

.services .title::after{
    content: "What i provide";
}

.services .serv-content .card{
    margin: 10px 0 60px 0;
    width: calc(33% - 20px);
    background-color: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: var(--animacion);
}

.services .serv-content .card i{
    font-size: 50px;
    color: var(--color);
    transition: color 0.3s ease;
}

.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.services .serv-content .card .box{
    transition: var(--animacion);
}

.services .serv-content .card:hover .box{
    transform:scale(1.05);
}

.services .serv-content .card:hover{
    background-color: var(--color);
} 

.services .serv-content .card:hover i{
    color: #fff;
} 

/* skils seccion */
.skills{
    background-color: #111;
    color: #fff;
}

.skills .title::after{
    content: "My knowledge";
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}

.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p{
    text-align: justify;
    line-height: 40px;
}


.skills .skills-content .right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .bars i{
    font-size: 25px;
    padding-right: 10px;
}


.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 6px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background-color: lightblue;
    position: relative;
}

.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--color);
}

/* BARRAS */

.skills-content .right .html::before{
    width: 90%;
}

.skills-content .right .css::before{
    width: 80%;
}

.skills-content .right .js::before{
    width: 70%;
}

.skills-content .right .bootstrap::before{
    width: 80%;
}

.skills-content .right .jquery::before{
    width: 70%;
}

.skills-content .right .react::before{
    width: 60%;
}

.skills-content .right .json::before{
    width: 70%;
}

.skills-content .right .mysql::before{
    width: 80%;
}

.skills-content .right .excel::before{
    width: 90%;
}

.skills-content .right .powerpoint::before{
    width: 100%;
}

.skills-content .right .word::before{
    width: 100%;
}


/* certificates seccion */
.certificates{
    background-color: #111;
}

.certificates .title{
    color: #fff;
}

.certificates .title::after{
    content: "How i prepared";
    background-color: #111;
}

.certificates .title::before{
    background-color: #fff;
}

.certificates .max-width{
    max-width: 1900px;
    padding: 0 80px;
    margin: auto;
}

.certificates .certificates-content{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.certificate{
    margin-bottom: 50px;
}

.certificate span{
    text-align: center;
    align-items: center;
}

.certificates .certificates-content img{
    width: 100%;
    height: 100%;
}

.btn-certificates1,
.btn-certificates2,
.btn-certificates3,
.btn-certificates4,
.btn-certificates5,
.btn-certificates6,
.btn-certificates7,
.btn-certificates8,
.btn-certificates9,
.btn-certificates10,
.btn-certificates11,
.btn-certificates12,
.btn-certificates13,
.btn-certificates14,
.btn-certificates15,
.btn-certificates16,
.btn-certificates17{
    height: 50px;
    width: 120px;
    background-color: var(--color);
    color: #fff;
    font-size: 25px;
    padding: 10px 10px;
    margin-top: 20px;
    border: 2px solid var(--color);
    border-radius: 6px;
    cursor: pointer;
    pointer-events: auto;
    transition: all .8s ease;
}

.btn-certificates1.invert,
.btn-certificates2.invert,
.btn-certificates3.invert,
.btn-certificates4.invert,
.btn-certificates5.invert,
.btn-certificates6.invert,
.btn-certificates7.invert,
.btn-certificates8.invert,
.btn-certificates9.invert,
.btn-certificates10.invert,
.btn-certificates11.invert,
.btn-certificates12.invert,
.btn-certificates13.invert,
.btn-certificates14.invert,
.btn-certificates15.invert,
.btn-certificates16.invert,
.btn-certificates17.invert{
    color: var(--color);
    background-color: #fff;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9,
.img10,
.img11,
.img12,
.img13,
.img14,
.img15,
.img16,
.img17{
    margin-top: 25px;
    display: none;
}

.img1.aparecer,
.img2.aparecer,
.img3.aparecer,
.img4.aparecer,
.img5.aparecer,
.img6.aparecer,
.img7.aparecer,
.img8.aparecer,
.img9.aparecer,
.img10.aparecer,
.img11.aparecer,
.img12.aparecer,
.img13.aparecer,
.img14.aparecer,
.img15.aparecer,
.img16.aparecer,
.img17.aparecer{
    display: block;
}

/* contact seccion */
.contact{
    margin-bottom: 150px;
    background-color: #111;
    color: #fff;
}

.contact .title::after{
    content: "Get in touch";
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}

.contact .contact-content .text{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p{
    text-align: justify;
}

.contact .contact-content .left .icons{
    margin: 10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .row i{
    font-size: 25px;
    color: var(--color);
}

.contact .contact-content .info .head{
    font-weight: 500;
}

.contact .contact-content .info .sub-title{
    color: #fff;
}

.contact .right form .fields{
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin: 15px;
}

.contact .right form .textarea{
    height: 80px;
    width: 100%;
}

.contact .right form .name{
    margin-right: 10px;
}

.contact .right form .email{
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightblue;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: "Poppins",sans-serif ;
}


.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}

.contact .right form .button{
    height: 47px;
    width: 170px;
}

.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid var(--color);
    background-color: var(--color);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--animacion);
}

.contact .right form .button button:hover{
    color: var(--color);
    background: none;
}

/* seccion footer */
footer{
    background-color: #111;
    padding: 20px 25px;
    color: #fff;
    letter-spacing: 6px;
    text-align: center;
}

footer span a{
    color: var(--color);
}

footer span a:hover{
    text-decoration: underline;
}

/* MEDIA QUERIES */
@media (max-width:1604px) {
    .certificates .certificate span{
        font-size: 20px;
    }
}

@media (max-width:1400px) {
    .certificates .certificates-content{
        grid-template-columns: 50% 50%;
    }

    .certificates .max-width{
        padding: 0 40px;
    }
}

@media (max-width:1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width:1105px) {
    .about .about-content .left img{
        height: 500px;
        width: 350px;
    }

    .home{
        background: url("./photo2.jpg") no-repeat center;
        background-size: cover;
    }
    
    .home .text-1{
        text-shadow: 3px 3px var(--color);
    }

    .home .text-2{
        text-shadow: 4px 4px var(--color);
    }

    .home .text-3{
        text-shadow: 2px 2px var(--color);
    }
}

@media (max-width:990px) {
     .max-width{
        padding: 0 50px;
    }

    .certificates .certificates-content{
        grid-template-columns: 100%;
    }
}

@media (max-width:945px) {
    .max-width{
        padding: 0 50px;
        max-width: 800px;
    }

    .menu-btn{
        display: block;
        z-index: 10;
    }

    .navbar .menu li a{
        background: initial;
        color: #fff;
    }

    .menu-btn i.active:before{
        content: "\f00d" ;
    }

    .navbar .menu{
        position: fixed;
        background-color: black;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: var(--animacion);
    }

    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2{
        font-size: 70px;
    }
    
    .home .home-content .text-3{
        font-size: 35px; 
    }
    
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }

    .about .about-content .column{
        width: 50%;
    }
    
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right{
        flex: 100%;
    }

    .services .serv-content .card{
        width: calc(50%-10px);
        margin: 20px 0 45px 0;
    }

    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }

    

}

@media (max-width:765px) {
    .services .serv-content .card{
        width: 100%;
    }

    .navbar .logo a{
        color: black;
    }

    .home{
        background: url("./photo3.jpg") no-repeat center;
        background-size: cover;
    }

    .home .home-content{
        margin-top: 400px;
        background-color: rgba(0, 0, 0, 0.842);
        border-radius: 10px;
        padding: 20px;
    }

}

@media (max-width:690px) {
    .max-width{
        padding: 0 20px;
    }

    .home .home-content .text-2{
        font-size: 60px;
    }
    
    .home .home-content .text-3{
        font-size: 30px; 
    }

    .home .home-content a{
        font-size: 20px;
    }

    .skills .skills-content .column{
        width: 100%;
    }

    .contact .right form .fields{
        display: grid;
        grid-template-columns: 100%;
        margin: 0 20px 0 0;
    }

}

@media (max-width:505px) {
    footer{
        font-size: 13px;
    }

    .navbar .logo a{
            font-size: 50px;
            font-weight: 900;
    }
    
}

@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    
    .home .home-content .text-3{
        font-size: 25px; 
    }
}

@media (max-width:466px) {
    footer{
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 4px;
    }
}

@media (max-width : 436px){
    .certificates .certificate span{
        font-size: 15px;
    }

    .certificates .max-width{
        padding: 0 10px;
    }

    section .title::before{
        width: 60px;
        height: 2px;
    }

    section .title::after{
        width: 100%;
    }
}

@media (max-width: 403px) {
    .certificates .max-width .title{
        font-size: 32px;
    }    

    .certificates .max-width .title::after{
        font-size: 14px;
        font-weight: 900;
    }

    .about .about-content .left img{
        height: 500px;
        width: calc(100% + 120px);
    }
}

@media (max-width:355px) {
    .certificates .certificate span{
        font-size: calc(100% - 5px);
    }


    .contact .max-width .title{
        font-size: 32px;
    }  

    .contact .max-width .title::after{
        font-size: 14px;
        font-weight: 900;
    }
}

@media (max-width:353px) {
    .services .max-width .title{
        font-size: 32px;
    }    

    .services .max-width .title::after{
        font-size: 14px;
        font-weight: 900;
    }
}

@media (max-width:315px) {
    .navbar .logo a{
        font-size: 38px;
        font-weight: 900;
        }

    .about .max-width .title{
        font-size: 32px;
    }    

    .about .max-width .title::after{
        font-size: 14px;
        font-weight: 900;

    } 

    .skills .max-width .title{
        font-size: 32px;
    }    

    .skills .max-width .title::after{
        font-size: 14px;
        font-weight: 900;
    }


}

@media (max-width:268px) {
    section .title::before{
        width: 50px;
        height: 2px;
    }

    section .title::after{
        width: 100%;
    }
    
}